[package]
name = "git-gone"
version = "1.2.5"
description = "Manage \"gone\" Git branches"
homepage = "https://codeberg.org/swsnr/git-gone"
repository = "https://codeberg.org/swsnr/git-gone.git"
readme = "README.md"
license = "Apache-2.0"
keywords = ["git", "branch", "remote"]
categories = ["development-tools", "command-line-utilities"]
authors = ["Sebastian Wiesner <sebastian@swsnr.de>"]
edition = "2024"
include = ["src/*.rs", "*.md", "LICENSE", "README,md"]

[dependencies]
clap = { version = "4.5.1", default-features = false, features = [
    "std",
    # Auto-generate help and usage info
    "help",
    "usage",
    # Better error messages
    "error-context",
    "derive",
] }

[dependencies.git2]
version = "0.20.0"
# Disable all features of git2; we only use a small subset of the library and do not need any of these.
# Specifically this also disables SSL and SSH support and thus removes library dependencies, which permits
# a static musl build.
default-features = false

[package.metadata.release]
pre-release-commit-message = "Release {{version}}"
tag-prefix = ""
tag-message = "Version {{tag_name}}"
# Justfile takes care of building before release
verify = false
