[package]
name = "git-gone"
version = "1.1.1"
description = "Manage \"gone\" Git branches"
homepage = "https://github.com/swsnr/git-gone"
repository = "https://github.com/swsnr/git-gone"
readme = "README.adoc"
license = "Apache-2.0"
keywords = ["git", "branch", "remote"]
categories = ["development-tools", "command-line-utilities"]
authors = ["Sebastian Wiesner <sebastian@swsnr.de>"]
edition = "2021"
include = [
    "git-gone.1",
    "git-gone.1.adoc",
    "src/*.rs",
    "*.md",
    "LICENSE",
    "README",
]

[dependencies]
clap = { version = "4.5.1", default-features = false, features = [
    "std",
    # Auto-generate help and usage info
    "help",
    "usage",
    # Better error messages
    "error-context",
    "derive",
] }

[dependencies.git2]
version = "0.19.0"
# Disable all features of git2; we only use a small subset of the library and do not need any of these.
# Specifically this also disables SSL and SSH support and thus removes library dependencies, which permits
# a static musl build.
default-features = false
