[package]
name = "git-gone"
version = "0.3.8"
description = "Manage \"gone\" Git branches"
homepage = "https://codeberg.org/flausch/git-gone"
repository = "https://codeberg.org/flausch/git-gone"
readme = "README"
license = "Apache-2.0"
keywords = ["git", "branch", "remote"]
categories = ["development-tools", "command-line-utilities"]
authors = ["Sebastian Wiesner <sebastian@swsnr.de>"]
edition = "2021"
include = [
    "git-gone.1",
    "git-gone.1.adoc",
    "src/*.rs",
    "*.md",
    "LICENSE",
    "README",
]

[dependencies]
clap = "^2"

[dependencies.git2]
version = "0.14.4"
# Disable all features of git2; we only use a small subset of the library and do not need any of these.
# Specifically this also disables SSL and SSH support and thus removes library dependencies, which permits
# a static musl build.
default-features = false
