[graph]
# Targets I care for
targets = ['x86_64-unknown-linux-gnu', 'x86_64-pc-windows-msvc']

[advisories]
version = 2
ignore = []

[licenses]
version = 2
allow = ["MIT", "Apache-2.0", "EUPL-1.2", "Unicode-3.0", "Zlib"]

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[bans]
multiple-versions = "deny"
